@font-face {
    font-family: carbon;
    src: url(../assist/fonts/CARBON-DROID.ttf);
}

@font-face {
    font-family: sunday;
    src: url(../assist/fonts/SUNDAY.ttf);
 }

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

#body {
    height: 150vh;
    width: 100%; 
    display: grid;
    grid-template-rows: 2fr 3fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:"header"
                        "main"
                        "footer";
}

#header {
    grid-area: header;
    background-image: url(../assist/images/background.jpg); 
    height: 7em;
    color: #965fd4;
    background-position: center;
    font-family: carbon;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menu {  
    background-color:#1d1a2f;
    font-family: sunday;
    font-size: 1.35rem;
}

.menu__lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.menu__lista__item {
    color: #8bd450;
    text-decoration: none;
}

#main{
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 0.5fr;
    grid-template-areas:"cont ref";
}

.main__contenido {
    grid-area: cont;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main__contenido__img{
    padding-left: 6em;
    padding-bottom: 1em;
}

.main__referencias {
    grid-area: ref;
    color:#1d1a2f;
    display: grid;
    grid-template-rows: 2em repeat(3, 0.75fr);
    grid-template-columns: 1fr;
    grid-template-areas: "tit"
                         "ref_1"
                         "ref_2"
                         "ref_3";
    grid-row-gap: 1em;
    align-items: center;
    padding-bottom: 1rem;
}

#main__referencias__tit1 {
    grid-area: tit;
}
#main__referencias__art1 {
    grid-area: ref_1;
    background-image: linear-gradient(to right bottom, #8bd450, #70ba55, #5aa057, #4a8754, #3f6d4e);
    border: black solid 0.1em;
}
#main__referencias__art2 {
    grid-area: ref_2;
    background-image: linear-gradient(to right bottom, #8bd450, #70ba55, #5aa057, #4a8754, #3f6d4e);
    border: black solid 0.1em;
}
#main__referencias__art3 {
    grid-area: ref_3;
    background-image: linear-gradient(to right bottom, #8bd450, #70ba55, #5aa057, #4a8754, #3f6d4e);
    border: black solid 0.1em;
}
.main__referencias__img {
    height: 205px;
    float: left;
}


#footer {
    grid-area: footer;
    background-image: linear-gradient(to left, #734f9a, #5a427f, #433563, #2f2749, #1d1a2f);
    font-family: sunday;
    font-size: 1.2rem;
    color: #8bd450;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-bottom: 1rem;
}

.footer__cont__text{
    text-decoration: none;
    color: 	#1d1a2f;
    border-left: #8bd450 solid 0.2rem;
    padding-left: 0.5rem;
    padding-right: 00.5rem;
}





